<mat-card *ngIf="category">
  <mat-toolbar>
    <span>{{ category.title }}</span>
    <button mat-icon-button>
      <mat-icon
        class="editIcon"
        mat-button
        color="primary"
        (click)="editCategory(category)"
        >edit</mat-icon
      >
    </button>
    <button mat-icon-button>
      <mat-icon
        class="editIcon"
        mat-button
        color="warn"
        (click)="viewCategory(category)"
        >delete</mat-icon
      >
    </button>
    <span class="spacer"></span>
    <button mat-button mat-icon-button>
      <mat-icon (click)="addTodo()">add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <mat-list>
    <ng-template ngFor let-todo [ngForOf]="todos">
      <mat-list-item class="height">
        <mat-checkbox
          (click)="onStateChange(todo)"
          [checked]="todo.isCompleted"
        ></mat-checkbox>
        <span
          class="todo-text"
          [style.text-decoration]="todo.isCompleted ? 'line-through' : 'none'"
          >{{ todo.text }}</span
        >
        <button mat-icon-button>
          <mat-icon
            class="editIcon"
            mat-button
            color="primary"
            (click)="editTodo(todo)"
            >edit</mat-icon
          >
        </button>
        <button mat-icon-button>
          <mat-icon
            class="editIcon"
            mat-button
            color="warn"
            (click)="viewTodo(todo)"
            >delete</mat-icon
          >
        </button>
      </mat-list-item>
    </ng-template>
  </mat-list>
</mat-card>
