mat-toolbar {
  padding: 0;
  height: 30px;
  background-color: inherit;
}

mat-checkbox {
  font-size: 16px;
}

mat-list-item.height {
  height: fit-content;
}

span.todo-text {
  margin: 10px 0px 5px 15px;
  word-break: break-word;
}

.spacer {
  flex: 1 1 auto;
}

.editIcon {
  opacity: 10%;

  &:hover {
    opacity: 100%;
  }
}
