<mat-card>
  <mat-card-title>{{ getCardTitle() }}</mat-card-title>
  <mat-divider inset></mat-divider>
  <form>
    <mat-form-field appearance="fill" [formGroup]="todoFormGroup">
      <mat-label>Задача</mat-label>
      <input matInput formControlName="text" />
    </mat-form-field>
    <mat-form-field appearance="fill" [formGroup]="todoFormGroup">
      <mat-label>Категория</mat-label>
      <mat-select formControlName="category">
        <mat-option [value]="null">Создать новую категорию</mat-option>
        <ng-template ngFor let-category [ngForOf]="categories">
          <mat-option [value]="category.title">{{ category.title }}</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
    <ng-template [ngIf]="todoFormGroup.value.category === null">
      <mat-form-field appearance="fill" [formGroup]="categoryFormGroup">
        <mat-label>Новая категория</mat-label>
        <input matInput formControlName="title" />
        <button mat-icon-button matSuffix>
          <mat-icon
            class="editIcon"
            mat-button
            color="primary"
            (click)="onNewCategory()"
            >done</mat-icon
          >
        </button>
      </mat-form-field>
    </ng-template>
  </form>
  <mat-card-actions>
    <button
      *ngIf="data.mode === getEditMode().Add"
      mat-button
      color="primary"
      [disabled]="todoFormGroup.invalid"
      (click)="onSubmit()"
    >
      Добавить
    </button>
    <button
      *ngIf="data.mode === getEditMode().Edit"
      mat-button
      color="primary"
      [disabled]="todoFormGroup.invalid"
      (click)="onEdit()"
    >
      Сохранить
    </button>
    <button
      *ngIf="data.mode === getEditMode().View"
      mat-button
      color="warn"
      (click)="onDelete()"
    >
      Удалить
    </button>
    <button mat-button (click)="onCancel()">Отмена</button>
  </mat-card-actions>
</mat-card>
